{%extends 'layout.html'%} {%block head%} {%if title%}
<title>Blogify - {{title}}</title>
{%else%}
<title>Blogify</title>
{%endif%}
<script
	type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.5.1/marked.min.js"
></script>
{%endblock%}


{%block body%}


{%if posts.items|length == 0 and not current_user.is_authenticated%}

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mt-4">
  <div class="col-md-12 px-0">
  	<h1 class="display-4 text-white">Welcome to Blogify.</h1>
    <span>
      <a href="{{url_for('users.register')}}" class="text-white font-weight-bold">Register</a> to
      post now!
    </span>
  </div>
</div>

{%endif%}

{%if featPost %}
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mt-4">
  	<div class="col-md-12 px-0">
  		<a
  			class="mr-2 text-secondary"
  			href="{{url_for('users.user_posts',post_id=featPost.id, username=featPost.author.username)}}"
  			>{{ featPost.author.username }}</a
  		>
  		<small class="text-muted" href="#"
  			>{{ featPost.created_at.strftime('%d-%m-%Y') }}</small
  		>
  		<h1 class="display-4 text-white">
  			<a
  				href="{{url_for('posts.post', post_id=featPost.id)}}"
  				class="text-white"
  				>{{ featPost.title }}</a
  			>
      </h1>
      {%if featPost.tags %}
        {% for tag in featPost.tags %}
          <a href="{{url_for('tags.searchPostsViaTag', selectedTag=tag.value)}}" class="btn btn-light btn-sm">{{tag.value}}</a>
        {%endfor%}
      {%endif%}
  		<p class="lead my-3 text-white" id="feat-content"></p>
  		<a
  			href="{{url_for('posts.post', post_id=featPost.id)}}"
  			class="text-white font-weight-bold lead"
  			>Continue reading...</a
  		>
  	</div>
  	<script>
      s = '{{ featPost.content }}';
      s = s.replace(/&#34;/g, '')
      s = s.replace(/&#39;/g, '')
      document.getElementById('feat-content').innerHTML = marked(`${s.substr(0, 500)}`)
  	</script>
  </div>
{%elif  current_user.is_authenticated%}
  <div class="alert alert-light my-5 text-center">
    <h1 class="">No Posts To Show!</h1>
    <h4>Want to express yourself by posting?</h4>
  	<a href="{{url_for('posts.new_post')}}" class="text-white text-wrap btn btn-primary  btn-lg">Post now!</a>
  </div>
{%endif%}

{%if posts.items is iterable %}
  {% for post in range(1, posts.items | length) %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 h-md-200 position-relative bg-white">
      <div class="col p-4 d-flex flex-column position-static">
        <div class="d-flex align-items-center">
          <img
            src="{{url_for('static',filename='profile_pics/'+posts.items[post].author.image_file)}}"
            alt=""
            class="rounded-circle article-img"
          />
          <div class="media-body">
        		<div class="article-metadata">
        			<a
        				class="mr-2 d-block"
        				href="{{url_for('users.user_posts',post_id=posts.items[post].id, username=posts.items[post].author.username)}}"
        				>{{ posts.items[post].author.username }}</a
        			>
        			<small class="text-muted" href="#"
        				>{{ posts.items[post].created_at.strftime('%d-%m-%Y') }}</small
        			>
            </div>
          </div>
        </div>
        <div class="p-2">
          <h3>{{ posts.items[post].title }}</h3>
          <div class="my-2">
            {%if posts.items[post].tags %}
              {% for tag in posts.items[post].tags %}
                <a href="{{url_for('tags.searchPostsViaTag', selectedTag=tag.value)}}" class="btn btn-light btn-sm">{{tag.value}}</a>
              {%endfor%}
            {%endif%}
          </div>
          <a href="{{url_for('posts.post', post_id=posts.items[post].id)}}" class="btn btn-primary btn-sm">Read now</a>
        </div>
      </div>
    </div>
  {%endfor%}
{%endif%}

<div >
	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,
  right_current=2)%}

  {%if page_num%}

    {%if posts.page==page_num%}
    	<a
    		href="{{url_for('main.home', page=page_num)}}"
    		class="btn btn-primary mb-4 aria-pressed='true'"
    		>{{page_num}}</a
    	>
  	{%else%}
    	<a
    		href="{{url_for('main.home', page=page_num)}}"
    		class="btn btn-outline-primary mb-4"
    		>{{page_num}}</a
    	>
    {%endif%}
  {%else%}
  ...
  {%endif%}

{%endfor%}
</div>
{%endblock%}
