{%extends 'layout.html'%} {%block head%} {%if title%}
<title>Blogify - {{title}}</title>
{%else%}
<title>Blogify</title>
{%endif%} {%endblock%} {%block body%}
<h1 class="my-4">Posts by {{user.username}} - {{posts.total}}</h1>
{% for post in posts.items%}
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 h-md-200 position-relative bg-white">
      <div class="col p-4 d-flex flex-column position-static">
        <div class="d-flex align-items-center">
          <img
            src="{{url_for('static',filename='profile_pics/'+post.author.image_file)}}"
            alt=""
            class="rounded-circle article-img"
          />
          <div class="media-body">
        		<div class="article-metadata">
        			<a
        				class="mr-2 d-block"
        				href="{{url_for('users.user_posts',post_id=post.id, username=post.author.username)}}"
        				>{{ post.author.username }}</a
        			>
        			<small class="text-muted" href="#"
        				>{{ post.created_at.strftime('%d-%m-%Y') }}</small
        			>
            </div>
          </div>
        </div>
        <div class="p-2">
          <h3>{{ post.title }}</h3>
          <div class="my-2">
            {%if post.tags %}
              {% for tag in post.tags %}
                <a href="{{url_for('tags.searchPostsViaTag', selectedTag=tag.value)}}" class="btn btn-light btn-sm">{{tag.value}}</a>
              {%endfor%}
            {%endif%}
          </div>
          <a href="{{url_for('posts.post', post_id=post.id)}}" class="btn btn-primary btn-sm">Read now</a>
        </div>
      </div>
    </div>

{%endfor%} {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,
left_current=1, right_current=2)%} {%if page_num%} {%if posts.page==page_num%}
<a
	href="{{url_for('users.user_posts',username=user.username, page=page_num)}}"
	class="btn btn-info mb-4 aria-pressed='true'"
	>{{page_num}}</a
>
{%else%}
<a
	href="{{url_for('users.user_posts',username=user.username, page=page_num)}}"
	class="btn btn-outline-info mb-4"
	>{{page_num}}</a
>
{%endif%} {%else%} ... {%endif%} {%endfor%} {%endblock%}
